.sign-up {
	form {
		background-color: var(--card-bg-color);
		max-width: 450px;
		padding: 1rem;
		margin: 1rem auto;
		border: 1px solid var(--border-color);
		border-radius: 0.3rem;

		button[type="submit"] {
			width: 100%;
		}
	}

	overflow: auto;
}
