

DATABASE_URL="postgres://postgres:db_password@localhost:db_port/db_name"
SERVER_PORT=3001
CLIENT_URL="http://localhost:3000"
COOKIE_SECRET="randomoajıdsfoıdsaf*39rokjoıdf"
JWT_SECRET="randomsadjfıdsa"