@use "styles/buttons";

.page-navigation-container {
	overflow-x: auto;
	width: min(90ch, 100% - 1rem);
}

.page-navigation {
	display: flex;
	column-gap: 1rem;
	padding: 0;

	li {
		list-style: none;

		a {
			text-decoration: none;
			@include buttons.inactive-button;

			&.active {
				@include buttons.active-button;
			}
		}
	}
}
