.mock-form {
	width: min(90ch, 100% - 1rem);
	margin-bottom: 1rem;

	input {
		width: 100%;
	}
}

.post-form-modal {
	padding: 1rem;
	width: min(90ch, 100% - 1rem);
	background-color: var(--card-bg-color);
	border-radius: 0.3rem;

	.post-form-body {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		textarea {
			min-height: 8rem;
		}

		button {
			align-self: flex-end;
		}
	}
}
