.main-page-container {
	margin-top: 1rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.not-logged-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 0.5rem;

	.secondary-btn {
		margin-right: 1rem;
	}
}
