@mixin primary-btn() {
	background-color: var(--btn-bg-color);
	padding: 0.4rem 1.1rem;
	color: var(--btn-color);
	border: 1px solid var(--btn-bg-color);
	font-weight: 700;
	font-size: 0.8em;
	border-radius: 100vmax;
	cursor: pointer;

	transition: opacity 50ms;

	&:hover,
	&:focus-visible {
		background-color: var(--btn-hover-color-primary);
		outline: none;
	}
}

@mixin secondary-btn() {
	background-color: var(--btn-color);
	padding: 0.4rem 1.1rem;
	color: var(--btn-bg-color);
	border: 1px solid var(--btn-bg-color);
	font-weight: 700;
	font-size: 0.8em;
	border-radius: 100vmax;
	cursor: pointer;

	transition: opacity 50ms;

	&:hover,
	&:focus-visible {
		background-color: var(--btn-hover-color-secondary);
		outline: none;
	}
}
