*,
*::before,
*::after {
	box-sizing: border-box;
	color: #c8cbcd;
}

body {
	$body-bg-color: #030303;
	--card-bg-color: #1a1a1b;
	--input-color: #c9ccce;
	--btn-bg-color: #ddd;
	--btn-hover-color: rgb(231, 200, 200);
	--btn-color: #1a1a1b;
	--border-color: #343536;
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: $body-bg-color;
	line-height: 1.4;

	--input-bg-color: #272729;
	--text-color: #d7dadc;

	color: var(--text-color);

	--hover-bg-color: rgba(100, 100, 100, 0.4);

	--positive-color: #ff4500;
	--negative-color: #7193ff;

	--navbar-height: 48px;

	--user-link-color: rgba(138, 247, 140, 0.997);
}

.site-body {
	padding-top: var(--navbar-height);
	display: flex;
	flex-direction: column;
	align-items: center;
}

a {
	text-decoration: none;
	color: inherit;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

input,
textarea {
	background-color: var(--input-bg-color);
	padding: 0.5rem 1rem;
	border-radius: 4px;
	line-height: 21px;
	border: 1px solid var(--border-color);
}

button {
	background: none;
	border: none;
	font-size: inherit;
	cursor: pointer;
}

article {
	white-space: pre-line;
}

.generic-btn {
	background-color: var(--btn-bg-color);
	padding: 0.4rem 1.1rem;
	color: var(--btn-color);
	border: 1px solid var(--btn-bg-color);
	font-weight: 700;
	font-size: 0.8em;
	border-radius: 100vmax;

	&:hover {
		background-color: var(--btn-hover-color);
	}
}

.generic-btn-dark {
	background-color: transparent;
	padding: 0.4rem 1.1rem;
	color: var(--btn-bg-color);
	border: 1px solid var(--btn-bg-color);
	font-weight: 700;
	font-size: 0.8em;
	border-radius: 100vmax;

	&:hover {
		background-color: var(--hover-bg-color);
	}
}

/* UTILITIES */
.sm-info {
	opacity: 0.5;
	font-size: 0.6rem;
}

.font-sm {
	font-size: 0.7rem;
}

.hide {
	display: none !important;
}

.has-left-dot {
	&::before {
		content: "\00B7";
		margin-right: 0.3rem;
	}
}

.bold {
	font-weight: 700;
}

.mr-1 {
	margin-right: 0.5rem;
}

.ul-clr {
	color: var(--user-link-color);
}
