@use "styles/animations";
@use "styles/media";
@use "styles/buttons";

*,
*::before,
*::after {
	box-sizing: border-box;
	color: var(--text-color);
}

:root {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: var(--body-bg-color);
	line-height: 1.4;

	color: var(--text-color);

	--positive-color: #ff4500;
	--negative-color: #7193ff;

	--navbar-height: 48px;

	--svg-width: 24px;

	--middle-width: min(55rem, 100% - 1rem);
}

body.dark {
	--body-bg-color: #030303;
	--card-bg-color: #1a1a1b;
	--input-color: #d6e6f1;
	--btn-bg-color: #ddd;
	--btn-hover-color-primary: rgb(231, 200, 200);
	--btn-hover-color-secondary: #222121;
	--btn-color: #1a1a1b;
	--border-color: #343536;
	--secondary-border-color: #aaa;

	--input-bg-color: #272729;
	--text-color: #d7dadc;

	--hover-bg-color: rgba(100, 100, 100, 0.4);
	--active-bg-color: rgb(18, 34, 66);
	--searched-comment-bg-color: #17232d;

	--user-link-color: rgba(138, 247, 140, 0.997);

	--notification-svg-success-stroke: green;

	--box-shadow: rgba(255, 255, 255, 0.3);
}

body.light {
	--body-bg-color: #dae0e6;
	--card-bg-color: white;

	--input-color: #1c1c1c;

	--btn-bg-color: #0079d3;
	--btn-hover-color-primary: #0078d3d5;
	--btn-hover-color-secondary: rgb(242, 242, 248);
	--btn-color: white;
	--border-color: #ccc;
	--secondary-border-color: #aaa;
	--input-bg-color: #f6f7f8;
	--text-color: #222;

	--hover-bg-color: #f6f7f8;
	--active-bg-color: #d9dcdf;
	--searched-comment-bg-color: #f6f7f8;

	--user-link-color: rgb(4, 35, 139);

	--notification-svg-success-stroke: #90ee90;

	--box-shadow: rgba(0, 0, 0, 0.3);
}

.site-body {
	padding-top: var(--navbar-height);
	display: flex;
	flex-direction: column;
	align-items: center;
}

a {
	text-decoration: none;
	color: inherit;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

input,
textarea {
	background-color: var(--input-bg-color);
	padding: 0.5rem 1rem;
	border-radius: 4px;
	line-height: 21px;
	border: 1px solid var(--border-color);

	@include media.media-600 {
		padding: 0.5rem 0.5rem;
	}
}

button {
	background: none;
	border: none;
	font-size: inherit;
	cursor: pointer;
}

article {
	white-space: pre-line;
}

svg {
	color: var(--text-color);
}

.primary-btn {
	@include buttons.primary-btn();
}

.secondary-btn {
	@include buttons.secondary-btn();
}

/* UTILITIES */

.flex {
	display: flex;
}

.sm-info {
	opacity: 0.5;
	font-size: 0.6rem;
}

.font-sm {
	font-size: 0.7rem;
}

.hide {
	display: none !important;
}

.has-left-dot {
	&::before {
		content: "\00B7";
		margin-right: 0.3rem;
	}
}

.bold {
	font-weight: 700;
}

.mr-1 {
	margin-right: 0.5rem;
}

.user-link {
	color: var(--user-link-color);
}

.card {
	background-color: var(--card-bg-color);
}

.loading {
	@include animations.animate-loading;
}

.prevent-select {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.middle-container {
	width: var(--middle-width);
}

/* SCROLLBAR */

::-webkit-scrollbar {
	width: 0.5em;
	height: 0.5em;

	&-track {
		margin-block: 0.5em;
	}

	&-thumb {
		background-color: hsl(0, 2%, 54%);
		border-radius: 100vw;

		&:hover {
			background-color: hsl(0, 2%, 42%);
		}
	}
}

* {
	scrollbar-width: thin;
}
